body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.app-container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 220px;
  background-color: rgb(5, 92, 168);
  color: white;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .sidebar-voltar {
  opacity: 0;
  pointer-events: none;
}

.sidebar-voltar {
  position: fixed;
  bottom: 24px;
  left: 90px;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  pointer-events: auto;
}

#voltar-sidebar {
  position: relative;
  background-color: rgb(3, 76, 139);
  color: white;
  transition: transform 0.1s ease;
}

#voltar-sidebar:hover {
  background-color: rgb(2, 60, 112);
}

.toggle-btn {
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  background-color: rgb(3, 76, 139);
  margin-top: 15px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.menu ul li {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.2s;
}

.menu ul li:hover {
  background-color: rgba(3, 76, 139, 0.8);
}

.menu .icon {
  margin-right: 12px;
}

.menu .text {
  color: white;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .text {
  display: none;
}

.main-content {
  flex-grow: 1;
  padding: 32px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.descricao {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 24px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  max-width: 700px;
}

.botoes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin-bottom: 1rem;
}

button {
  background-color: #e5e7eb;
  color: #1f2937;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background-color: #d1d5db;
}

#lessonOidInput {
  padding: 10px 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  width: 260px;
  background-color: #f9fafb;
  color: #1f2937;
}

#caminhoArquivo {
  margin-top: 12px;
  font-size: 14px;
  color: #4b5563;
}

#resultadoSaltos {
  margin-top: 24px;
  font-size: 14px;
  width: 58%;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#ajuda-container {
  position: fixed;
  top: 10px;
  right: -500px;
  width: 400px;
  height: 43%;
  background-color: #d1d5db;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 100;
}

#ajuda-container.ativo {
  right: 0;
}

#btnAjuda {
  position: fixed;
  top: 40px;
  right: 100px;
  align-items: center;
  border-color: #1f2937 2px;
}

#btnFechar {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  background-color: #1e293b;
  font-size: 24px;
  border: none;
  cursor: pointer;
  color: #cbd6e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#voltar1,
#proxima1 {
  background-color: #1e293b;
  color: white;
  position: relative;
  top: 50px;
}

.tabela-wrapper {
  overflow-x: auto;
  margin-top: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.tabela-aulas {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #1f2937;
}

.tabela-aulas thead {
  background-color: #075985;
  color: white;
  text-align: left;
  border: none;
}

.tabela-aulas th,
.tabela-aulas td {
  padding: 12px 16px;
  text-align: center;
  font-size: 12px;
  border: none;
}

.tabela-aulas td {
  white-space: nowrap;
  border-left: 1px solid #d1d5db;
  border-right: 1px solid #d1d5db;
}

.tabela-aulas th {
  font-weight: 600;
}

.alert-sucesso {
  display: none;
  align-items: center;
  gap: 8px;
  background-color: #d1fae5;
  color: #065f46;
  border: 1px solid #a7f3d0;
  border-radius: 12px;
  padding: 12px 16px;
  width: fit-content;
  font-size: 15px;
  margin-top: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.tabela-wrapper {
  margin-bottom: 15px;
  width: 100%;
  overflow-x: auto;
}

.tabela-wrapper table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.tabela-wrapper th {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  word-wrap: break-word;
}

.tabela-wrapper td {
  padding: 6px;
  border: 1px solid #ddd;
  word-wrap: break-word;
}

.tabela-saltos thead {
  background-color: #ffa500;
  color: #fff;
}

.tabela-debug thead {
  background-color: #00aaff;
  color: #fff;
}

.tabela-aviso thead {
  background-color: #ffb84d;
  color: #fff;
}

.tabela-sucesso thead {
  background-color: #28a745;
  color: #fff;
}

.tabela-erro thead {
  background-color: #ff4d4d;
  color: #fff;
}

.tabela-saltos tbody td {
  background-color: #fffaf0;
}

.tabela-debug tbody td {
  background-color: #f0f9ff;
}

.tabela-aviso tbody td {
  background-color: #fff4e6;
}

.tabela-sucesso tbody td {
  background-color: #e6ffed;
}

.tabela-erro tbody td {
  background-color: #ffe6e6;
}

.tabela-erro td {
  color: #800000;
  font-weight: bold;
}

.tabela-aviso td {
  color: #ff8000;
  font-weight: bold;
}

.analisando {
  color: #007bff;
  font-weight: bold;
  margin: 10px 0;
}

.error-message {
  color: #ef4444;
  font-weight: bold;
  margin-top: 1rem;
}

.total-segmentos {
  color: #007bff;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.1em;
}

/* Estilos para o Toast Notification */
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #323232;
  /* Um cinza mais escuro */
  color: white;
  padding: 18px 25px;
  /* Mais padding */
  border-radius: 10px;
  /* Cantos mais arredondados */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  /* Sombra mais pronunciada */
  z-index: 1000;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* Transição mais suave e com "bounce" */
}

.toast.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.toast-content {
  display: flex;
  align-items: center;
  gap: 12px;
  /* Espaço entre ícone, mensagem e botão */
}

.toast-icon {
  font-size: 24px;
  color: #a7d9ff;
  /* Cor para o ícone */
}

.toast-message {
  font-size: 15px;
  line-height: 1.4;
  flex-grow: 1;
  /* Para a mensagem ocupar o espaço disponível */
}

.toast-close-btn {
  background: none;
  border: none;
  color: #ccc;
  /* Cor do X de fechar */
  font-size: 24px;
  /* Tamanho maior para o X */
  cursor: pointer;
  padding: 0 5px;
  transition: color 0.2s ease;
}

.toast-close-btn:hover {
  color: white;
}


@media (max-width: 600px) {

  .tabela-wrapper table,
  .tabela-wrapper thead,
  .tabela-wrapper tbody,
  .tabela-wrapper th,
  .tabela-wrapper td,
  .tabela-wrapper tr {
    display: block;
  }

  .tabela-wrapper thead tr {
    display: none;
  }

  .tabela-wrapper td {
    padding-left: 50%;
    position: relative;
  }

  .tabela-wrapper td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 6px;
    font-weight: bold;
  }
}