body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  margin: 0;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden; /* impede scroll lateral */
  overflow-y: auto;   /* só aparece scroll vertical se realmente precisar */
}

.app-container {
  display: flex;
  width: 100%;
  max-width: 100vw; /* evita estourar largura da tela */
  overflow-x: hidden;
}

.sidebar {
  width: 220px;
  background-color: rgb(5, 92, 168);
  color: white;
  transition: width 0.3s ease;
}

.sidebar.collapsed  {
  width: 70px;
}

#voltar-sidebar {
  padding: 8px 16px;
  background-color: rgb(3, 76, 139);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

#voltar-sidebar:hover {
  background-color: rgb(2, 60, 112);
}

.toggle-btn {
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  background-color: rgb(3, 76, 139);
  margin-top: 15px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.menu ul li {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.2s;
}

.menu ul li:hover {
  background-color: rgba(3, 76, 139, 0.8);
}

.menu .icon {
  margin-right: 12px;
}

.menu .text {
  color: white;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .text {
  display: none;
}

.main-content {
  flex-grow: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box; /* padding não soma à largura */
  max-width: calc(100vw - 220px); /* ajusta largura considerando sidebar */
}

.descricao {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 24px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  max-width: 700px;
}

.botoes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
}

.botoes-container button {
  padding: 8px 16px; /* Padding consistente */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  white-space: nowrap; /* Impede a quebra de texto */
}

.botoes-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  flex: 1; /* Permite que o campo de entrada ocupe o espaço disponível */
}

.button-section {
  margin-top: 16px;     /* espaço do resultado */
  display: flex;        /* alinha conteúdo */
}

button {
  background-color: #e5e7eb;
  color: #1f2937;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background-color: #d1d5db;
}

#lessonOidInput {
  padding: 10px 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  width: 260px;
  background-color: #f9fafb;
  color: #1f2937;
}

#caminhoArquivo {
  margin-top: 12px;
  font-size: 14px;
  color: #4b5563;
}

#resultadoSaltos {
  padding: 10px;
}

#resultadoSaltos .tabela-wrapper {
  position: relative;
  max-width: 740px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

.tabela-wrapper {
  overflow-x: auto;
  margin-top: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.tabela-saltos {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #1f2937;
}

.tabela-saltos thead {
  background-color: #075985;
  color: white;
  text-align: left;
  border: none;
}

.tabela-saltos th {
  border: none;
}

.tabela-saltos th,
.tabela-saltos td {
  border: none;
  padding: 12px 16px;
  text-align: center;
  font-size: 12px;
}

.tabela-saltos td {
  white-space: nowrap;
  border-left: 1px solid #d1d5db;
  border-right: 1px solid #d1d5db;
}

#resultadoSaltos td:nth-child(1),
#resultadoSaltos th:nth-child(1) {
  max-width: 200px;
  word-wrap: break-word;
  white-space: normal;
}

.tabela-aulas th {
  font-weight: 600;
}

#ajuda-container {
  position: fixed;
  top: 10px;
  right: -500px;
  width: 400px;
  height: 43%;
  background-color: #d1d5db;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 100;
}

#ajuda-container.ativo {
  right: 0;
}

#btnAjuda {
  position: fixed;
  top: 40px;
  right: 100px;
  align-items: center;
  border-color: #1f2937 2px;
}

#btnFechar {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  background-color: #1e293b;
  font-size: 24px;
  border: none;
  cursor: pointer;
  color: #cbd6e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#voltar1, #proxima1 {
  background-color: #1e293b;
  color: white;
  position: relative;
  top: 50px;
}

.tabela-wrapper {
  overflow-x: auto;
  margin-top: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.tabela-aulas {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #1f2937;
}

.tabela-aulas thead {
  background-color: #075985;
  color: white;
  text-align: left;
  border: none;
}

.tabela-aulas th,
.tabela-aulas td {
  padding: 12px 16px;
  text-align: center;
  font-size: 12px;
  border: none;
}

.tabela-aulas td {
  white-space: nowrap;
  border-left: 1px solid #d1d5db;
  border-right: 1px solid #d1d5db;
}

.tabela-aulas th {
  font-weight: 600;
}

.alert-sucesso {
  display: none;
  align-items: center;
  gap: 8px;
  background-color: #d1fae5;
  color: #065f46;
  border: 1px solid #a7f3d0;
  border-radius: 12px;
  padding: 12px 16px;
  width: fit-content;
  font-size: 15px;
  margin-top: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
