body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  margin: 0;
  display: flex;
  height: 100vh;
}

.app-container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 220px;
  background-color: rgb(5, 92, 168);
  color: white;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .sidebar-voltar {
  opacity: 0;
  pointer-events: none;
}

.sidebar-voltar {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  pointer-events: auto;
}

#voltar-sidebar {
  position: relative;
  left: 65px;
  background-color: #1e293b;
  color: #f9fafb;
  transition: transform 0.1s ease;
}

.toggle-btn {
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  background-color: rgb(3, 76, 139);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

/* Sidebar */
.menu ul li {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background 0.2s;
  white-space: nowrap;
}

.menu ul li:hover {
  background-color: rgba(3, 76, 139);
}

.menu .icon {
  margin-right: 12px;
}

.menu .text {
  transition: opacity 0.3s ease;
  color: #f9f9f9;
}

.sidebar.collapsed .text {
  display: none;
}

.main-content {
  flex-grow: 1;
  padding: 32px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  max-width: 600px;
}

#ajuda-container {
  position: fixed;
  top: 0;
  right: -500px;
  width: 400px;
  height: 40%;
  background-color: #cbd6e0;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 100;
}

#ajuda-container.ativo {
  right: 0;
}

#btnAjuda {
  position: fixed;
  top: 40px;
  right: 100px;
  align-items: center;
  border-color: #1f2937 2px;
}

#btnFechar {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  background-color: #1e293b;
  font-size: 24px;
  border: none;
  cursor: pointer;
  color: #cbd6e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#voltar1, #proxima1 {
  background-color: #1e293b;
  color: white;
  position: relative;
  top: 50px;
}

button {
  display: block;
  margin: 12px 0;
  padding: 10px 16px;
  background-color: #e5e7eb;
  color: #1f2937;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background-color: #d1d5db;
}